@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bg-start {
    background-image: url("/Cara-Belajar-Efektif.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .card {
    @apply bg-white rounded-lg shadow-lg overflow-hidden;
  }

  h1 {
    @apply text-3xl font-bold text-gray-900;
  }

  h2 {
    @apply text-3xl font-bold text-gray-900;
  }

  h3 {
    @apply text-2xl font-bold text-gray-900;
  }
}
